header {
  background-color: #9b9ea3;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
}

header a:active {
  text-decoration: none;
  color: transparent;
}
header a {
  text-decoration: none;
}

.active-link {
  color: var(--color-active);
  cursor: default;
}